#! /usr/bin/env bash

# NOTE: `PROJECT` is meant to cover the need, instead of `WORK`.
# Unfortuntately, `PROJECT` is being redefined/conflated within
# the given apps. So, `WORK` is also here in order for things to work.
export WORK="$(expand_path .)"
export PROJECT="$(expand_path .)"
export KUBECONFIG=$PROJECT/.local/kube-config

export GCP_DEFAULT_BILLING_ACCT='billingAccounts/014138-51133C-A0DC2E'

source_env_if_exists .local/envrc
source_env_if_exists .local/envrc.janus

PATH_add bin
